/* Global Styles */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-default {
    border: solid 1px #fff;
    color: #6b7e4a;
    background: #fff;
}

.btn-default:hover,
.btn-default:focus {
    border: solid 1px #fff;
    outline: 0;
    color: #fff;
    background-color: #6b7e4a;
}

.btn-outline {
    border: solid 1px #fff;
    color: #fff;
    transition: all .1s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 1px #fff;
    border-radius: 100%;
    color: #6b7e4a;
    background: #fff;
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

hr.large {
    max-width: 200px;
}

/* Nav bar */

a {
    color: #4a6b7e;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #7e4a6b;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    text-transform: uppercase;
    background-color: #4a6b7e;
    letter-spacing: 1px;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .0s ease-in-out;
    -moz-transition: background .0s ease-in-out;
    transition: background .0s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #6b7e4a;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
        transition: background .2s ease-in-out,padding .2s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 2px solid rgba(255,255,255,.5);
        background: #4a6b7e;
    }
}

.navbar-blog {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    text-transform: uppercase;
    background-color: #4a6b7e;
    letter-spacing: 1px;
}

.navbar-blog .navbar-brand {
    font-weight: 700;
}

.navbar-blog .navbar-brand:focus {
    outline: 0;
}

.navbar-blog .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-blog .navbar-brand .navbar-toggle:focus,
.navbar-blog .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-blog a {
    color: #fff;
}

.navbar-blog .nav li a {
    -webkit-transition: background .0s ease-in-out;
    -moz-transition: background .0s ease-in-out;
    transition: background .0s ease-in-out;
}

.navbar-blog .nav li a:hover {
    outline: 0;
    color: #6b7e4a;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
        transition: background .2s ease-in-out,padding .2s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 2px solid rgba(255,255,255,.5);
        background: #4a6b7e;
    }
}


/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout-digital {
    display: table;
    width: 100%;
    height: 300px;
    color: #fff;
    background: url(../img/digital.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callout-knx {
    display: table;
    width: 100%;
    height: 300px;
    color: #fff;
    background: url(../img/knx.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(126,74,107,.8);
/*    background: rgba(105,118,82,.8);*/
/*    background: rgba(126,93,74,.9);*/
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 20px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 30px 0;
}