/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=63u0u0kdqgb93oGbNk-hRdfm9bd */
/* An ecological valence theory of human color preference:  https://www.pnas.org/content/107/19/8877*/
:root {
    --c-primary-0: rgba( 50, 70, 82, 1);
    --c-primary-1: rgba( 92,113,125, 1);
    --c-primary-2: rgba( 68, 91,104, 1);
    --c-primary-3: rgba( 32, 54, 67, 1);
    --c-primary-4: rgba( 20, 43, 57, 1);
    --c-secondary-1-0: rgba( 57, 59, 89, 1);
    --c-secondary-1-1: rgba(103,105,136, 1);
    --c-secondary-1-2: rgba( 78, 80,114, 1);
    --c-secondary-1-3: rgba( 38, 41, 73, 1);
    --c-secondary-1-4: rgba( 25, 28, 62, 1);
    --c-secondary-2-0: rgba( 53, 90, 71, 1);
    --c-secondary-2-1: rgba( 99,138,118, 1);
    --c-secondary-2-2: rgba( 73,115, 93, 1);
    --c-secondary-2-3: rgba( 33, 74, 53, 1);
    --c-secondary-2-4: rgba( 19, 63, 41, 1);
    --c-complement-0: rgba(129,105, 75, 1);
    --c-complement-1: rgba(197,172,141, 1);
    --c-complement-2: rgba(164,137,104, 1);
    --c-complement-3: rgba(105, 79, 47, 1);
    --c-complement-4: rgba( 89, 62, 27, 1);
}

/* Global Styles */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.img-basic {
    border: 1px;
    border-style: solid;
    border-color: var(--c-primary-4);
    margin: 1px auto;
}

/* Custom Button Styles */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-default {
    color: var(--c-secondary-1-0);
    background: #fff;
}

.btn-default:hover,
.btn-default:focus {
    border: solid 1px #fff;
    outline: 0;
    color: #fff;
    background-color: var(--c-secondary-1-0);
}

.btn-outline {
    color: #fff;
    transition: all .1s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 1px #fff;
    border-radius: 33%;
    color: var(--c-secondary-1-0);
    background: #fff;
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

hr.large {
    max-width: 200px;
}

/* Nav bar */

a {
    color: var(--c-complement-0);
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: var(--c-complement-4);
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    text-transform: uppercase;
    background-color: #4a6b7e;
    letter-spacing: 1px;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .0s ease-in-out;
    -moz-transition: background .0s ease-in-out;
    transition: background .0s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: var(--c-secondary-1-0);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
        transition: background .2s ease-in-out,padding .2s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 2px solid rgba(255,255,255,.5);
        background: #4a6b7e;
    }
}

.navbar-blog {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    text-transform: uppercase;
    background-color: #4a6b7e;
    letter-spacing: 1px;
}

.navbar-blog .navbar-brand {
    font-weight: 700;
}

.navbar-blog .navbar-brand:focus {
    outline: 0;
}

.navbar-blog .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-blog .navbar-brand .navbar-toggle:focus,
.navbar-blog .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-blog a {
    color: #fff;
}

.navbar-blog .nav li a {
    -webkit-transition: background .0s ease-in-out;
    -moz-transition: background .0s ease-in-out;
    transition: background .0s ease-in-out;
}

.navbar-blog .nav li a:hover {
    outline: 0;
    color: var(--c-secondary-1-0);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
        transition: background .2s ease-in-out,padding .2s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 2px solid rgba(255,255,255,.5);
        background: #4a6b7e;
    }
}


/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(../img/bg.webp) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout-digital {
    display: table;
    width: 100%;
    height: 300px;
    color: #fff;
    background: url(../img/digital.webp) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.callout-knx {
    display: table;
    width: 100%;
    height: 300px;
    color: #fff;
    background: url(../img/contact.webp) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: var(--c-secondary-2-0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 20px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 20px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 30px 0;
}
