<!-- Navigation -->
<nav class="navbar navbar-blog navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars" style="color: #fff;"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">
        <i class="fa fa-home"></i>  <span class="light">K</span>Cavagnolo
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="{{ site.url }}"></a>
        </li>
        <li>
          <a class="page-scroll" href="/archive.html">Archive</a>
        </li>
        <li>
          <a class="page-scroll" href="/categories.html">Categories</a>
        </li>
        <li>
          <a class="page-scroll" href="/pages.html">Pages</a>
        </li>
        <li>
          <a class="page-scroll" href="/tags.html">Tags</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
